<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navigation(currentPage)" class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <i class="bi bi-fire"></i> CtrlFlame
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" th:classappend="${currentPage == 'home' ? 'active' : ''}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/historical-map}" th:classappend="${currentPage == 'historical-map' ? 'active' : ''}">Mapa de Queimadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/understanding}" th:classappend="${currentPage == 'understanding' ? 'active' : ''}">Entenda o Problema</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html> 